@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.chooseMcMenus {
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

ul {
    list-style: none;
}

li.menu-item {
    display: inline;
    border: 2px solid #ff0000;
    margin-left: 12px;
    padding: 5px 5px 5px 5px;
}

li.menu-item.active {
    background-color: #ff0000;
    color: white; 
    font-weight: bold;
}

